body{
    margin: 0px;
}


/* ---------------------------------------------------------------------------- VERSION PC --------------------------------------------------------------------------------------------- */

p {
    font-family: 'Inter','Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;



    color: rgba(0, 0, 0, 0.6);
}
/* ---------------- premiere recete afficher --------------------------------------- */
.featuredRecipe{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 50px 160px 80px;
}

.featureRecipeGauche{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 620px;
    height: 640px;
   
    background: #E7FAFE;

}
/* TODO// recuper la font "inter" */
.hotRecipes{
    display: flex;
    margin: 45px 10px 32px 50px;
    font-size: 14px;
    font-family: 'Inter', 'Arial Narrow Bold', sans-serif;
    background: #FFFFFF;
    border-radius: 30px;
    width: 156px;
    height: 45px;
}

.hotRecipes img{
    height: 24px;
    width: 24px;
    padding: 11px 6px 10px 20px;
}

.hotRecipes p {
    padding: 15px 20px 13px 7px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

h1.textelorem{
    font-family: 'Inter','Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;
    width: 520px;
    height: 154px;
    margin: 0px 50px 12px 50px;
    
    color: #000000;
}

 p.textelorem  {
    margin: 12px 50px 24px 50px;
   
}

.timer{
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 139px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

.timer p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
    margin: 11px 16px 12px 7px;
}

.timer img{
    height: 18px;
    width: 18px;
    margin: 11px 6px 11px 19px;
}

.chicken{
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 139px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.chicken p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
    margin: 11px 16px 12px 7px;
}

.chicken img.fourchette{
    width: 8.25px;
    height: 19.5px;
    margin: 10px 0.5px 10px 19px;
}
.chicken img.couteau{
    width: 6.75px;
    height: 19.5px;
    margin: 10px 7px 10px 0.5px;
}

.timecouvert{
    display: flex;
    margin: 30px 50px 100px 50px;
}

.jhonView{
    display: flex;
    height: 100px;
}

.jhonSmith{
    display: flex;
}

.jhonSmith img {
    height: 50px;
    width: 50px;
    margin: 0px 4px 55px 50px;
}

.jhonSmith h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;

    color: #000000;
    margin: 4px 8px;
}

.jhonSmith p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: rgba(0, 0, 0, 0.6);
    margin: 4px 8px;
}

.titreTexteJhonSmith{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.viewRecipes{
    display: flex;
    background: #000000;
    border-radius: 16px;
    width: 200px;
    height: 60px;
    margin: 0px 50px 40px 149px;
}

.viewRecipes p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #FFFFFF;
    margin: 21px 8px 22px 37px;
    
}

.viewRecipes img {
    width: 19.5px;
    height: 19.5px;
    margin: 20px 38px 20px 9px;    
}
.maskGroupe{
    width: 620px;
    height: 640px;
}
/* ------------------------------------------------------------------------------------- */

.categoriesview{
    display: flex;
    justify-content: space-between;

}

.categoriesview h1{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    letter-spacing: -0.04em;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
   

    color: #000000;
}

.vc{

    background: #E7FAFE;
    border-radius: 16px;
    width: 200px;
    height: 60px;
    margin-right: 80px;

}

p.ViewAllCategories{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
    
    
    margin: 24px 27px 20px 27px;
}


.listecategorie{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    margin-bottom: 183px;
    
}

.categorie1{
    width: 180px;
    height: 152px;
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
    border-radius: 30px;
}

.categorie1 img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 990px;
    margin-left: 40px;
    
}

.categorie1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 60px;

    color: #000000;
}

.tastyRecipes p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 706px;
    line-height: 28px;
    text-align: center;
    margin-left :387px;
    margin-bottom: 96px;
    color: rgba(0, 0, 0, 0.6);
}

.tastyRecipes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tastyRecipes h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;


letter-spacing: -0.04em;
}

.listePlat{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 143px;
}

.plat{
    width: 400px;
    height: 434px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;
    margin: 40px;
}

.timer1{
    
    width: 139px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

.timer1 p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    margin: 11px 16px 12px 7px;
}

.timer1 img{
    height: 18px;
    width: 18px;
    margin: 11px 6px 11px 19px;
}

.chicken1{
    width: 139px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.chicken1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    margin: 11px 16px 12px 7px;
}

.chicken1 img.fourchette{
    width: 8.25px;
    height: 19.5px;
    margin: 10px 0.5px 10px 19px;
}
.chicken1 img.couteau{
    width: 6.75px;
    height: 19.5px;
    margin: 10px 7px 10px 0.5px;
}

.timecouvert1{
    display: flex;
    margin: 30px 50px 100px 50px;
}

.cuistotall{
    display: flex;

}

.cuistotGauche{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 141px;
    margin-right: 104px;
   
}

.cuistotGauche h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
    }

.cuistotGauche p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 72px;
    color: rgba(0, 0, 0, 0.6);
}

.lien {
    background: #000000;
    border-radius: 16px;
    width: 180px;
    height: 60px;
    margin-top: 0px;
}
.lien p{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
text-align: center;
margin-top: 21px;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.cuistotdroite {
    width: 651px;
    height: 500px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;
    margin-top: 109px;
}

.cuistotdroite img {
    width: 660px;
    height: 597px;
    top: 2197px;
    position: absolute;
    margin-top: 143px;
}

.deliciousRecipe{
    display: flex;
    justify-content: space-evenly;
    margin-top: 183px;
}

.deliciousRecipe h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    }

.deliciousRecipe p {
  

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
margin-top: 70px;
color: rgba(0, 0, 0, 0.6);
}